<h2 class="text-white my-5 text-center">your lists</h2>

<ul class="list-group">
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class: "text-decoration-none" do %>
      <li class="list-group-item">
        <%= list.image.attached? ? ( cl_image_tag list.image.key, height: 100, width: 100, crop: :fill ) : "" %>
        <%= list.name %>
        <span class="text-muted"> - <%= list.bookmarks.length %> movies</span>
      </li>
    <% end %>
  <% end %>
</ul>
