<div class="card my-3 mx-auto p-3" style="max-width: 500px;">
<h5 class="card-title">create new list:</h5>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: "btn btn-primary"%>
<% end %>
</div>
<%# test %>
