<div class="card my-3 mx-auto p-3" style="max-width: 500px;">
<h1>new bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :movie, collection: Movie.all, input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true}}} %>
  <%= f.input :comment %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
